body {
  margin: 0px;
  padding: 0px;
  background-color: #f4f7f7;
}

.nav {
  background-color: #79a8a9;
  display: inline-flex;
  width: -webkit-fill-available;
  position: fixed;
  z-index: 1;
}

#btn {
  position: absolute;
  height: 30px;
  width: 40px;
  top: 15px;
  left: 5px;
  display: grid;
  transition: all 0.5s ease-in;
  z-index: 1;
}

#btn span {
  padding: 3px;
  margin: 2px;
  background-color: white;
}

.k li {
  display: inline-flex;
  padding: 0 40px;
  font-family: Gotu;
}

.k a {
  text-decoration: none;
  color: #fff;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 4px;
  position: absolute;
  right: 150px;
  top: 20px;
  height: 30px;
  text-align: center;
}

.ent {
  display: inline-flex;
}

button {
  position: absolute;
  right: 40px;
  width: 90px;
  height: 40px;
  color: black;
  top: 15px;
  border-radius: 8px;
  border: 0px;
  color: #fff;
  background-color: #856c8b;
}

#sidenav {
  height: 100%;
  width: 0px;
  background-color: #1f4e5f;
  color: #1f4e5f;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  position: fixed;
  border: none;
}

.sidelist {
  margin-top: 10px;
  height: 100%;
  padding: 0px;
  color: white;
  list-style: none;
  padding: 0px;
  margin-left: 10px;
}

.sidelist li a {
  text-decoration: none;
  color: white;
}

.sidelist li {
  padding-left: 0px;
  padding: 20px;
  margin: 0px 20px;
  text-align: center;
}

.sidelisthead {
  margin: 40px;
  padding: 0px;
  list-style: none;
  border: 5px solid darkslategrey;
  background-image: url("sidenavimage.jpg");
  text-align: center;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 1;
}

.sidelisthead span {
  line-height: 420px;
  font-size: 40px;
}

.sidelist li:hover {
  border-bottom: 2px solid white;
  font-weight: 500;
}

.header {
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 130px;
  font-family: Gotu;
  color: #fff;
  background-image: url("cor.png");
}

.mainarea {
  position: absolute;
  top: 300px;
  font-size: 1.5rem;
  right: 300px;
  left: 20px;
}

#Mainarea {
  display: inline-flex;
}

.mainarea2 {
  background-color: #beebe9;
  position: absolute;
  top: 300px;
  right: 10px;
  font-size: 1.2rem;
  padding: 10px;
  letter-spacing: .5px;
  border-radius: 8px;
  font-family: Montserrat;
  color: #1f4e5f;
}

.youtube {
  position: absolute;
  top: 725px;
  left: 70px;
  border-radius: 6px;
}
