<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Gotu|Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div id="sidenav">
    <ul class="sidelisthead">
      <li><span>MENU</span></li>
    </ul>
    <ul class="sidelist">

      <li><a href="webpowershell.html">HOME</a></li>
      <li><a href="downloads.html">DOWNLOADS</a></li>
      <li><a href="login.html">LOGIN</a></li>
    </ul>
  </div>
  <div class="nav">
    <div id="btn" onclick="operate()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="list">
      <ul class="k">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Symptoms</a></li>
        <li><a href="/prevention">Prevention</a></li>
        <li><a href="#">Treatment</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
    </div>
    <div class="ent">
      <form class="" action="index.html" method="post">
        <input type="text" name="frame" id="fname" placeholder="search">
        <i class="fas fa-search"></i>
      </form>
      <button type="submit" name="submit">SUBMIT</button>
    </div>
  </div>
