
<%- include("header"); -%>
  <div class="header"><span>COVID-19</span></div>
  <div id="Mainarea">
    <div class="mainarea"><em>Coronavirus disease (COVID-19)</em> is an infectious disease caused by a new virus.
      The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding
      close contact (1 meter or 3 feet) with people who are unwell.<br>
      <img src="outbreak-coronavirus-world.png" style="width:400px; margin-top:20px; margin-left:150px;">
      <p style="text-align:center; ">spread of corona worldwide</p>
    </div>
    <div class="mainarea2">
      <h2>Coronavirus Cases</h2>
      <p>4,34,511</p>
      <h2>Deaths</h2>
      <p>19601</p>
      <h2>Recovered</h2>
      <p>111,620</p>
    </div>
  </div>
  <div class="youtube">
    <iframe width="400" height="300" src="https://www.youtube.com/embed/zx10os2QPrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <script src="helper.js" type="text/javascript">

  </script>
</body>

</html>
