
<link rel="stylesheet" href="overview.css">
<%- include("header"); -%>
<div class="heading">
  <h1>Overview</h1>
  </div>
    <div class="icon1">
      <marquee behavior="alternate" direction="left" scrollamount="20" onmouseover="this.stop()" onmouseout="this.start()">
        <img src="image/a.png" alt="">
        <img src="image/b.png" alt="">
        <img src="image/c.png" alt="">
        <img src="image/d.png" alt="">
        <img src="image/e.png" alt="">
        <img src="image/f.png" alt="">
        <img src="image/g.png" alt="">
          <img src="image/h.png" alt="">
  </marquee>

      </div>

      <div class="infor">
        <p>What is coronavirus, how did it start and how big could it get?</p>
        </div>
        <div class="what">
       <h2>What is a coronavirus?</h2>
       <p>Coronaviruses are a family of viruses that cause disease in animals. Seven, including the new virus, have made the jump to humans, but most just cause cold-like symptoms.

Covid-19 is closely related to severe acute respiratory syndrome (SARS) which swept around the world in 2002 to 2003. That virus infected around 8,000 people and killed about 800 but it soon ran itself out, largely because most of those infected were seriously ill so it was easier to control.

Another coronavirus is Middle East respiratory syndrome (MERS), cases of which have been occurring sporadically since it first emerged in 2012 - there have been around 2,500 cases and nearly 900 deaths.

Covid-19 is different to these two other coronaviruses in that the spectrum of disease is broad, with around 80 per cent of cases leading to a mild infection. There may also be many people carrying the disease and displaying no symptoms, making it even harder to control.

So far, around 20 per cent of Covid-19 cases have been classed as "severe" and the current death rate varies between 0.7 per cent and 3.4 per cent depending on the location and, crucially, access to good hospital care.</p>
        </div>
        <div class="wh">
        <div class="what2">
          <h2>How did the outbreak start?</h2>
          <p> The source of the coronavirus is believed to be a "wet market" in Wuhan which sold both dead and live animals including fish and birds.

Such markets pose a heightened risk of viruses jumping from animals to humans because hygiene standards are difficult to maintain if live animals are being kept and butchered on site. Typically, they are also densely packed allowing disease to spread from species to species.</p>

        </div>
        </div>

        <div class="videoout">
          <div class="actual">
          <iframe width="900" height="362" src="https://www.youtube.com/embed/ST-cn2JQ31M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>

  <script src="helper.js" type="text/javascript">
    </script>
