<script src="https://kit.fontawesome.com/d8b963639d.js" crossorigin="anonymous"></script>

<%- include("header"); -%>
<link rel="stylesheet" href="preventioncss.css">
    <div class="head1">
        <h1>Preventions</h1>
      </div>
  <div class="mid">
  <div class="mid1">

      <h2><b>DO THE FIVE</b></h2>
      <img src="download.gif" class="gif">
      <h3>Help Stop Coronavirus</h3>
  <ol>
    <li>HANDS :Wash them often</li>
    <li>ELBOW :Cough into it</li>
    <li>FACE :Don't touch it</li>
    <li>SPACE :Keep safe distance</li>
    <li>HOME :Stay if you can</li>
</ol>
</div>
<div class="mid2">
  <i class="fas fa-chevron-left" onclick="prevClick()"></i>
  <img src="antibiotic.png" class="slider">
<i class="fas fa-chevron-right" onclick="nextClick()"></i>

</div>
  </div>
  <div class="video">
    <h1 style="position:relative; right:140px;">#Fight corona</h1>
    <iframe width="650px" height="300px" src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<div class="video2">
  <h1 style="position:relative; right:140px;">How to protect yourself against COVID-19?</h1>
  <iframe width="650" height="300" src="https://www.youtube.com/embed/1APwq1df6Mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video3">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/OFFg21KhOV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video4">
  <iframe width="400px" height="300px" src="https://www.youtube.com/embed/EJbjyo2xa2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="imp">
  <h1>Important Information abour corona virus</h1>
  <div class="table">
  <div class="imp1" >
  <i class="fas fa-phone-alt" ></i>
<h2>+91-11-23978046 or 1075</h2>
<p>Dial National Helpline Number</p>
  </div>
  <div class="imp2">
    <i class="fas fa-envelope"></i>
    <h2>ncov2019[at]gov[dot]in</h2>
    <p>Helpline Email ID</p>
  </div>
  <div class="imp3">
     <i class="far fa-file-pdf"></i>
    <h2>States and Union Territories</h2>
    <p><a href="coro.pdf">view Pdf Of Helpline</a></p>
  </div>
</div>
</div>
<div class="info">
  <h1>Should you wear a mask?</h1>
<p>If you’re out in a public setting where it’s difficult to follow social distancing guidelines, the CDCTrusted Source recommends that you wear a cloth face mask that covers your mouth and nose. When worn correctly, and by large percentages of the public, these masks can help to slow the spread of SARS-CoV-2.

That’s because they can block the respiratory droplets of people who may be asymptomatic or people who have the virus but have gone undiagnosed. Respiratory droplets get into the air when you exhale, talk, cough, or sneeze.

You can make your own mask using basic materials such as a bandana, a T-shirt, or cotton fabric. The CDC provides instructionsTrusted Source for making one with scissors or with a sewing machine.

Cloth masks are preferred for the general public, since other types of masks should be reserved for healthcare workers.

It’s critical to keep the mask clean. Wash it each time you use it. Avoid touching the front of it with your hands. Also, try to avoid touching your mouth, nose, and eyes when you remove it. This prevents you from possibly transferring the virus from a mask to your hands and from your hands to your face.

Keep in mind that wearing a mask isn’t a replacement for other preventive measures, such as frequent handwashing and practicing social distancing. All of them are important.

Certain people shouldn’t wear face masks. They include children under 2 years old, people with trouble breathing, and people who are unable to remove their own masks.
</p>
</div>

<script  src="helper.js">

</script>




  </body>
</html>
