<script src="https://kit.fontawesome.com/d8b963639d.js" crossorigin="anonymous"></script>

<%- include("header"); -%>
<link rel="stylesheet" href="preventioncss.css">
    <div class="head1">
        <h1>Preventions</h1>
      </div>
   <div class="mid">
  <div class="mid1">

      <h2><b>DO THE FIVE</b></h2>
      <img src="download.gif" class="gif">
      <h3>Help Stop Coronavirus</h3>
  <ol>
    <li>HANDS :Wash them often</li>
    <li>ELBOW :Cough into it</li>
    <li>FACE :Don't touch it</li>
    <li>SPACE :Keep safe distance</li>
    <li>HOME :Stay if you can</li>
</ol>
</div>
<div class="cont">
  <h1>Can a coronavirus be prevented or avoided?</h1>
  <hr></hr>
  <p>Practice social distancing. Avoid people who are sick or meeting in large groups. Stay home if you are sick. Cover your cough with a tissue or cough into your upper sleeve or elbow.  Do not cough into your hands.

Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom, before eating, and after blowing your nose, coughing, or sneezing. If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol. Always wash hands with soap and water if hands are visibly dirty. Avoid touching your mouth, nose, or eyes</p>
</div>

</div>
 <div class="mid2">
   <div class="mid2d">
  <i class="fas fa-chevron-left" onclick="prevClick()"></i>
  <img src="antibiotic.png" class="slider">
<i class="fas fa-chevron-right" onclick="nextClick()"></i>
</div>
<h1>#Fight Corona</h1>
</div>

   <div class="video">
      <iframe class="1" width="483" height="362" src="https://www.youtube.com/embed/9Ay4u7OYOhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="2" width="483" height="362" src="https://www.youtube.com/embed/fzRGrJjbuAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


 <div class="imp">
  <h1>Important Information abour corona virus</h1>
  <div class="table">
  <div class="imp1" >
  <i class="fas fa-phone-alt" ></i>
<h2>+91-11-23978046 or 1075</h2>
<p>Dial National Helpline Number</p>
  </div>
  <div class="imp2">
    <i class="fas fa-envelope"></i>
    <h2>ncov2019[at]gov[dot]in</h2>
    <p>Helpline Email ID</p>
  </div>
  <div class="imp3">
     <i class="far fa-file-pdf"></i>
    <h2>States and Union Territories</h2>
    <p><a href="coro.pdf">view Pdf Of Helpline</a></p>
  </div>
</div>
</div>

<script  src="helper.js">

</script>





  </body>
</html>
