<%- include('header'); -%>
<link rel="stylesheet" href="table.css">
<div class="head1">
<h1 >
    STATE WISE DATA
</h1>
</div>
<div class="container5">
<table>
  <tr>

    <th style="text-align:center;">Name of State / UT</th>
    <th style="text-align:center;">Active</th>
    <th style="text-align:center;">Confirmed</th>
    <th style="text-align:center;">Deaths</th>
    <th style="text-align:center;">Recovered<th>

  </tr>




  <tr style="text-align:center;">
    <td style="text-align:center;">Maharashtra</td>
    <td id="c1"></td>
    <td id="a1"></td>
    <td id="d1"></td>
    <td id="r1"></td>
  </tr>

  <tr>
    <td style="text-align:center;">Delhi</td>
    <td id="c2"></td>
    <td id="a2"></td>
    <td id="d2"></td>
    <td id="r2"></td>
  </tr>

  <tr>
    <td style="text-align:center;">Gujarat</td>
    <td id="c3"></td>
    <td id="a3"></td>
    <td id="d3"></td>
    <td id="r3"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Rajasthan</td>
    <td id="c4"></td>
    <td id="a4"></td>
    <td id="d4"></td>
    <td id="r4"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Tamil Nadu</td>
    <td id="c5"></td>
    <td id="a5"></td>
    <td id="d5"></td>
    <td id="r5"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Madhya Pradesh</td>
    <td id="c6"></td>
    <td id="a6"></td>
    <td id="d6"></td>
    <td id="r6"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Uttar Pradesh</td>
    <td id="c7"></td>
    <td id="a7"></td>
    <td id="d7"></td>
    <td id="r7"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Telangana</td>
    <td id="c8"></td>
    <td id="a8"></td>
    <td id="d8"></td>
    <td id="r8"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Andhra Pradesh</td>
    <td id="c9"></td>
    <td id="a9"></td>
    <td id="d9"></td>
    <td id="r9"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Karnataka</td>
    <td id="c10"></td>
    <td id="a10"></td>
    <td id="d10"></td>
    <td id="r10"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Kerala</td>
    <td id="c11"></td>
    <td id="a11"></td>
    <td id="d11"></td>
    <td id="r11"></td>
  </tr>


  <tr>
    <td style="text-align:center;">Jammu and Kashmir</td>
    <td id="c12"></td>
    <td id="a12"></td>
    <td id="d12"></td>
    <td id="r12"></td>
  </tr>
  <tr>
    <td style="text-align:center;">West Bengal</td>
    <td id="c13"></td>
    <td id="a13"></td>
    <td id="d13"></td>
    <td id="r13"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Haryana</td>
    <td id="c14"></td>
    <td id="a14"></td>
    <td id="d14"></td>
    <td id="r14"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Punjab</td>
    <td id="c15"></td>
    <td id="a15"></td>
    <td id="d15"></td>
    <td id="r15"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Bihar</td>
    <td id="c16"></td>
    <td id="a16"></td>
    <td id="d16"></td>
    <td id="r16"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Odisha</td>
    <td id="c17"></td>
    <td id="a17"></td>
    <td id="d17"></td>
    <td id="r17"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Uttarakhand</td>
    <td id="c18"></td>
    <td id="a18"></td>
    <td id="d18"></td>
    <td id="r18"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Jharkhand</td>
    <td id="c19"></td>
    <td id="a19"></td>
    <td id="d19"></td>
    <td id="r19"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Himachal Pradesh</td>
    <td id="c20"></td>
    <td id="a20"></td>
    <td id="d20"></td>
    <td id="r20"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Chhattisgarh</td>
    <td id="c21"></td>
    <td id="a21"></td>
    <td id="d21"></td>
    <td id="r21"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Assam</td>
    <td id="c22"></td>
    <td id="a22"></td>
    <td id="d22"></td>
    <td id="r22"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Chandigarh</td>
    <td id="c23"></td>
    <td id="a23"></td>
    <td id="d23"></td>
    <td id="r23"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Ladakh</td>
    <td id="c24"></td>
    <td id="a24"></td>
    <td id="d24"></td>
    <td id="r24"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Andaman and Nicobar Islands</td>
    <td id="c25"></td>
    <td id="a25"></td>
    <td id="d25"></td>
    <td id="r25"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Meghalaya</td>
    <td id="c26"></td>
    <td id="a26"></td>
    <td id="d26"></td>
    <td id="r26"></td>
  </tr>

  <tr>
    <td style="text-align:center;">Goa</td>
    <td id="c27"></td>
    <td id="a27"></td>
    <td id="d27"></td>
    <td id="r27"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Puducherry</td>
    <td id="c28"></td>
    <td id="a28"></td>
    <td id="d28"></td>
    <td id="r28"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Manipur</td>
    <td id="c29"></td>
    <td id="a29"></td>
    <td id="d29"></td>
    <td id="r29"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Tripura</td>
    <td id="c30"></td>
    <td id="a30"></td>
    <td id="d30"></td>
    <td id="r30"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Mizoram</td>
    <td id="c31"></td>
    <td id="a31"></td>
    <td id="d31"></td>
    <td id="r31"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Arunachal Pradesh</td>
    <td id="c32"></td>
    <td id="a32"></td>
    <td id="d32"></td>
    <td id="r32"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Nagaland</td>
    <td id="c33"></td>
    <td id="a33"></td>
    <td id="d33"></td>
    <td id="r33"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Dadra and Nagar Haveli</td>
    <td id="c34"></td>
    <td id="a34"></td>
    <td id="d34"></td>
    <td id="r34"></td>
  </tr>

    <td style="text-align:center;">Daman and Diu</td>
    <td id="c35"></td>
    <td id="a35"></td>
    <td id="d35"></td>
    <td id="r35"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Lakshadweep</td>
    <td id="c36"></td>
    <td id="a36"></td>
    <td id="d36"></td>
    <td id="r36"></td>
  </tr>
  <tr>
    <td style="text-align:center;">Sikkim</td>
    <td id="c37"></td>
    <td id="a37"></td>
    <td id="d37"></td>
    <td id="r37"></td>
  </tr>


</table>
</div>
<div class="bottomfooter">
      <footer>
      <div class="background">
        <span class="hr">
          <a href="#">About Us</a><br>
          <a href="#">Feedback</a><br>
          <a style="text-align: center;" href="#">Downloads</a><br>

        </span>
        <span class="vertical-line">
        </span>
        <span class="hr1">
          <a href="#">Contact Us</a><br>
          <a style="text-align: center;" href="#">FAQ</a><br>
          <a style="text-align: center;" href="#">Home</a><br>
        </span>

       </div>



       <div class="second">
         <span  class="second1">
        <span>CONNECT <span class="footer-social-small">with</span>US
        </span>
        <span class="icon"><a href="#">
        <i class="fa fa-facebook-square"></a></i>
        <a href="#"><i class="fa fa-git-square" ></i></a>
        <a href="#"><i class="fa fa-instagram" ></a></i>
        <a href="#"><i class="fa fa-twitter" ></i></a>
        </span>
              </div>
            </footer>
            </div>

<body>
<html>
<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);


        document.getElementById("c1").innerHTML = myObj.statewise[1].active;
        document.getElementById("a1").innerHTML = myObj.statewise[1].confirmed;
        document.getElementById("d1").innerHTML = myObj.statewise[1].deaths;
        document.getElementById("r1").innerHTML = myObj.statewise[1].recovered;
        document.getElementById("c2").innerHTML = myObj.statewise[2].active;
        document.getElementById("a2").innerHTML = myObj.statewise[2].confirmed;
        document.getElementById("d2").innerHTML = myObj.statewise[2].deaths;
        document.getElementById("r2").innerHTML = myObj.statewise[2].recovered;
       document.getElementById("c3").innerHTML = myObj.statewise[3].active;
        document.getElementById("a3").innerHTML = myObj.statewise[3].confirmed;
         document.getElementById("d3").innerHTML = myObj.statewise[3].deaths;
        document.getElementById("r3").innerHTML = myObj.statewise[3].recovered;
        document.getElementById("c4").innerHTML = myObj.statewise[4].active;
        document.getElementById("a4").innerHTML = myObj.statewise[4].confirmed;
         document.getElementById("d4").innerHTML = myObj.statewise[4].deaths;
        document.getElementById("r4").innerHTML = myObj.statewise[4].recovered;
       document.getElementById("c5").innerHTML = myObj.statewise[5].active;
        document.getElementById("a5").innerHTML = myObj.statewise[5].confirmed;
         document.getElementById("d5").innerHTML = myObj.statewise[5].deaths;
        document.getElementById("r5").innerHTML = myObj.statewise[5].recovered;
        document.getElementById("c6").innerHTML = myObj.statewise[6].active;
        document.getElementById("a6").innerHTML = myObj.statewise[6].confirmed;
         document.getElementById("d6").innerHTML = myObj.statewise[6].deaths;
        document.getElementById("r6").innerHTML = myObj.statewise[6].recovered;
        document.getElementById("c7").innerHTML = myObj.statewise[7].active;
        document.getElementById("a7").innerHTML = myObj.statewise[7].confirmed;
         document.getElementById("d7").innerHTML = myObj.statewise[7].deaths;
        document.getElementById("r7").innerHTML = myObj.statewise[7].recovered;
        document.getElementById("c8").innerHTML = myObj.statewise[8].active;
        document.getElementById("a8").innerHTML = myObj.statewise[8].confirmed;
         document.getElementById("d8").innerHTML = myObj.statewise[8].deaths;
        document.getElementById("r8").innerHTML = myObj.statewise[8].recovered;
        document.getElementById("c9").innerHTML = myObj.statewise[9].active;
        document.getElementById("a9").innerHTML = myObj.statewise[9].confirmed;
         document.getElementById("d9").innerHTML = myObj.statewise[9].deaths;
        document.getElementById("r9").innerHTML = myObj.statewise[9].recovered;
        document.getElementById("c10").innerHTML = myObj.statewise[10].active;
        document.getElementById("a10").innerHTML = myObj.statewise[10].confirmed;
         document.getElementById("d10").innerHTML = myObj.statewise[10].deaths;
        document.getElementById("r10").innerHTML = myObj.statewise[10].recovered;
        document.getElementById("c11").innerHTML = myObj.statewise[11].active;
        document.getElementById("a11").innerHTML = myObj.statewise[11].confirmed;
         document.getElementById("d11").innerHTML = myObj.statewise[11].deaths;
        document.getElementById("r11").innerHTML = myObj.statewise[11].recovered;
        document.getElementById("c12").innerHTML = myObj.statewise[12].active;
        document.getElementById("a12").innerHTML = myObj.statewise[12].confirmed;
         document.getElementById("d12").innerHTML = myObj.statewise[12].deaths;
        document.getElementById("r12").innerHTML = myObj.statewise[12].recovered;
        document.getElementById("c13").innerHTML = myObj.statewise[13].active;
        document.getElementById("a13").innerHTML = myObj.statewise[13].confirmed;
         document.getElementById("d13").innerHTML = myObj.statewise[13].deaths;
        document.getElementById("r13").innerHTML = myObj.statewise[13].recovered;
        document.getElementById("c14").innerHTML = myObj.statewise[14].active;
        document.getElementById("a14").innerHTML = myObj.statewise[14].confirmed;
         document.getElementById("d14").innerHTML = myObj.statewise[14].deaths;
        document.getElementById("r14").innerHTML = myObj.statewise[14].recovered;
        document.getElementById("c15").innerHTML = myObj.statewise[15].active;
        document.getElementById("a15").innerHTML = myObj.statewise[15].confirmed;
         document.getElementById("d15").innerHTML = myObj.statewise[15].deaths;
        document.getElementById("r15").innerHTML = myObj.statewise[15].recovered;
        document.getElementById("c16").innerHTML = myObj.statewise[16].active;
        document.getElementById("a16").innerHTML = myObj.statewise[16].confirmed;
         document.getElementById("d16").innerHTML = myObj.statewise[16].deaths;
        document.getElementById("r16").innerHTML = myObj.statewise[16].recovered;
        document.getElementById("c17").innerHTML = myObj.statewise[17].active;
        document.getElementById("a17").innerHTML = myObj.statewise[17].confirmed;
         document.getElementById("d17").innerHTML = myObj.statewise[17].deaths;
        document.getElementById("r17").innerHTML = myObj.statewise[17].recovered;
        document.getElementById("c18").innerHTML = myObj.statewise[18].active;
        document.getElementById("a18").innerHTML = myObj.statewise[18].confirmed;
         document.getElementById("d18").innerHTML = myObj.statewise[18].deaths;
        document.getElementById("r18").innerHTML = myObj.statewise[18].recovered;
        document.getElementById("c19").innerHTML = myObj.statewise[19].active;
        document.getElementById("a19").innerHTML = myObj.statewise[19].confirmed;
         document.getElementById("d19").innerHTML = myObj.statewise[19].deaths;
        document.getElementById("r19").innerHTML = myObj.statewise[19].recovered;
        document.getElementById("c20").innerHTML = myObj.statewise[20].active;
        document.getElementById("a20").innerHTML = myObj.statewise[20].confirmed;
         document.getElementById("d20").innerHTML = myObj.statewise[20].deaths;
        document.getElementById("r20").innerHTML = myObj.statewise[20].recovered;
        document.getElementById("c21").innerHTML = myObj.statewise[21].active;
        document.getElementById("a21").innerHTML = myObj.statewise[21].confirmed;
         document.getElementById("d21").innerHTML = myObj.statewise[21].deaths;
        document.getElementById("r21").innerHTML = myObj.statewise[21].recovered;
        document.getElementById("c22").innerHTML = myObj.statewise[22].active;
        document.getElementById("a22").innerHTML = myObj.statewise[22].confirmed;
         document.getElementById("d22").innerHTML = myObj.statewise[22].deaths;
        document.getElementById("r22").innerHTML = myObj.statewise[22].recovered;
        document.getElementById("c23").innerHTML = myObj.statewise[23].active;
        document.getElementById("a23").innerHTML = myObj.statewise[23].confirmed;
         document.getElementById("d23").innerHTML = myObj.statewise[23].deaths;
        document.getElementById("r23").innerHTML = myObj.statewise[23].recovered;
        document.getElementById("c24").innerHTML = myObj.statewise[24].active;
        document.getElementById("a24").innerHTML = myObj.statewise[24].confirmed;
         document.getElementById("d24").innerHTML = myObj.statewise[24].deaths;
        document.getElementById("r24").innerHTML = myObj.statewise[24].recovered;
        document.getElementById("c25").innerHTML = myObj.statewise[25].active;
        document.getElementById("a25").innerHTML = myObj.statewise[25].confirmed;
         document.getElementById("d25").innerHTML = myObj.statewise[25].deaths;
        document.getElementById("r25").innerHTML = myObj.statewise[25].recovered;
        document.getElementById("c26").innerHTML = myObj.statewise[26].active;
        document.getElementById("a26").innerHTML = myObj.statewise[26].confirmed;
         document.getElementById("d26").innerHTML = myObj.statewise[26].deaths;
        document.getElementById("r26").innerHTML = myObj.statewise[26].recovered;
        document.getElementById("c27").innerHTML = myObj.statewise[27].active;
        document.getElementById("a27").innerHTML = myObj.statewise[27].confirmed;
         document.getElementById("d27").innerHTML = myObj.statewise[27].deaths;
        document.getElementById("r27").innerHTML = myObj.statewise[27].recovered;
        document.getElementById("c28").innerHTML = myObj.statewise[28].active;
        document.getElementById("a28").innerHTML = myObj.statewise[28].confirmed;
         document.getElementById("d28").innerHTML = myObj.statewise[28].deaths;
        document.getElementById("r28").innerHTML = myObj.statewise[28].recovered;
        document.getElementById("c29").innerHTML = myObj.statewise[29].active;
        document.getElementById("a29").innerHTML = myObj.statewise[29].confirmed;
         document.getElementById("d29").innerHTML = myObj.statewise[29].deaths;
        document.getElementById("r29").innerHTML = myObj.statewise[29].recovered;
        document.getElementById("c30").innerHTML = myObj.statewise[30].active;
        document.getElementById("a30").innerHTML = myObj.statewise[30].confirmed;
         document.getElementById("d30").innerHTML = myObj.statewise[30].deaths;
        document.getElementById("r30").innerHTML = myObj.statewise[30].recovered;
        document.getElementById("c31").innerHTML = myObj.statewise[31].active;
        document.getElementById("a31").innerHTML = myObj.statewise[31].confirmed;
         document.getElementById("d31").innerHTML = myObj.statewise[31].deaths;
        document.getElementById("r31").innerHTML = myObj.statewise[31].recovered;
        document.getElementById("c32").innerHTML = myObj.statewise[32].active;
        document.getElementById("a32").innerHTML = myObj.statewise[32].confirmed;
         document.getElementById("d32").innerHTML = myObj.statewise[32].deaths;
        document.getElementById("r32").innerHTML = myObj.statewise[32].recovered;
        document.getElementById("c33").innerHTML = myObj.statewise[33].active;
        document.getElementById("a33").innerHTML = myObj.statewise[33].confirmed;
         document.getElementById("d33").innerHTML = myObj.statewise[33].deaths;
        document.getElementById("r33").innerHTML = myObj.statewise[33].recovered;
        document.getElementById("c34").innerHTML = myObj.statewise[34].active;
        document.getElementById("a34").innerHTML = myObj.statewise[34].confirmed;
         document.getElementById("d34").innerHTML = myObj.statewise[34].deaths;
        document.getElementById("r34").innerHTML = myObj.statewise[34].recovered;
        document.getElementById("c35").innerHTML = myObj.statewise[35].active;
        document.getElementById("a35").innerHTML = myObj.statewise[35].confirmed;
         document.getElementById("d35").innerHTML = myObj.statewise[35].deaths;
        document.getElementById("r35").innerHTML = myObj.statewise[35].recovered;
        document.getElementById("c36").innerHTML = myObj.statewise[36].active;
        document.getElementById("a36").innerHTML = myObj.statewise[36].confirmed;
         document.getElementById("d36").innerHTML = myObj.statewise[36].deaths;
        document.getElementById("r36").innerHTML = myObj.statewise[36].recovered;
        document.getElementById("c37").innerHTML = myObj.statewise[37].active;
        document.getElementById("a37").innerHTML = myObj.statewise[37].confirmed;
         document.getElementById("d37").innerHTML = myObj.statewise[37].deaths;
        document.getElementById("r37").innerHTML = myObj.statewise[37].recovered;


      }

    };
    xmlhttp.open("GET", "https://api.covid19india.org/data.json", true);
    xmlhttp.send();
    </script>
<script type="text/javascript" src="helper.js">

</script>
