
.p{
    font-family:Georgia, serif;
    font-size:1em;
    margin:20px;
    margin-right:20px;


}
body {
  margin: 0px;
  padding: 0px;

  height: 100%;
background: linear-gradient(25deg, #aacfd0 80%, #1f4e5f 20%);
  width:-webkit-fill-available;
   font-family:Georgia, serif;
   font-size:1.2em;

}


.head1 h1
{
color:black;
  padding: 8px;
  margin:auto;
  font-size: 2.5rem;
  position: relative;
  top:40px;
  left:20px;
  font-family: Montserrat;
  letter-spacing: 1px;
  right: 130px;

}
.head1 {
  display:inline-flex;
  background: linear-gradient(25deg, #c70039 60%, #e58a8a 40% );
  margin: 0px;
  padding: 6px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
   box-shadow: 0 8px 6px -6px black;
   width:inherit;
   z-index: 1;
   height:7rem;
}




.column {
float: left;
width: 33.33%;
padding: 35px;

}


.row::after {
content: "";
clear: both;
display: table;
}
.demo5{
border: 3px solid #AACFD0;
border-radius: 50%;
box-shadow: 0 0 2px 3px #1F4E5F;

}

.demo5:hover {
box-shadow: 0 0 2px 3px #1F4E5F;

}
b{
color:rgb(28, 28, 50);
}
h1:hover{color:#1F4E5F;


}
.button{
background-color:black;
color:#AACFD0;
width: 350;
height:60px ;
border-color:darkgrey;
border-width: 3px;
font-size: 15px;

}
.button:hover{
border-color:grey;
}
.demo6{border-color: #1F4E5F;
border-width: 5px;


}
.demo6:hover{
border-color:#79ABA9;

}
.mainimage{

  padding:25px;
  margin-left:140px;
  border:3px solid #AACFD0;

}

.youtube1{
  margin:30px;
  left:40px;
}
.youtube2{
  left:120px;
  top:-4px;

}
@media only screen and (max-width: 250px) {
 .mainimage{

  padding:25px;
  margin-left:120px;
  border:3px solid #AACFD0;

}
.youtube1{
  margin:30px;
  left:20px;
}
.youtube2{
  left:20px;
  top:-4px;

}

}
